@import url("https://fonts.googleapis.com/css2?family=Overlock:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap");

:root {
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: #ededed;
  color: #111111;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  height: auto;
}

.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.button:hover {
  scale: 120%;
}

.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-left: auto;
}
.header__icon {
  display: none;
}

.header__icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  background: transparent;
  display: flex;
  height: 48px;
  background: #111111;
}

.header__background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;

  z-index: -1;
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
  background: #111111;
}
.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: end;
}
.policy-terms-header__button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__icon {
  display: none;
}
.header__icon-button {
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 12px;
  position: relative;
}

.navigation__list {
  display: flex;
  flex-direction: column;

  align-items: center;

  top: 130px;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 557px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 999;

  padding: 0px 32px;

  border-radius: 0px 0px 20px 20px;
  gap: 8px;
  background: #111111;
}
.navigation__list.is-open {
  right: 0;
}
.navigation__link {
  font-family: Overlock;
  font-weight: 900;
  font-size: 24px;

  display: block;
  width: 220px;
  text-align: center;
  border-radius: 16px;
  border: 1px solid transparent;
  padding: 10px;

  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: #ededed;
}
.navigation__link:hover,
.navigation__link:focus {
  border: 1px solid #e5b553;
  text-decoration: none;
}
.navigation__item-desk {
  font-family: Overlock;
  font-weight: 400;
  font-size: 20px;

  text-align: center;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-offset: 0%;
  text-decoration-thickness: 0%;
  text-decoration-skip-ink: auto;
}
.header.is-open {
  background-color: transparent;
}
.navigation-img {
  display: none;
}

@media screen and (min-width: 1200px) {
  .navigation-img {
    display: flex;
  }
  .policy-terms-header__icon--menu {
    display: none;
  }

  .header {
    width: 100%;

    height: 60px;
    padding: 10px 0px 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 1000;
  }
  .header__background {
  }

  .header__icon-button {
    display: none;
  }

  .navigation {
    display: flex;

    flex-direction: row;

    flex: 1;
    padding: 0;

    width: 1440px;
    margin: auto;
  }
  .navigation__list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;

    padding-block: 0;
    flex: 1;
    gap: 20px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
  }
  .navigation__link {
    font-family: Overlock;
    font-weight: 400;
    font-size: 20px;
    width: 160px;
    padding-top: 8px;
    padding-right: 10px;
    padding-bottom: 8px;
    padding-left: 10px;

    border-radius: 8px;

    text-decoration: none;
  }
  .navigation__link:hover,
  .navigation__link:focus {
    color: #ffffff;
  }
  .header__icon-home-img {
    display: none;
  }
  .navigation__item-desk {
    display: none;
  }
}

.home {
  width: 375px;
  height: 812px;
  padding: 68px 16px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/home/1_home_mob.png");
  margin: auto;
}

.home__container-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-title {
  width: 277px;
  height: 172px;
}

.home-text {
  font-family: Overlock;
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: -4%;
  text-align: center;

  color: #ededed;
  padding: 0 51px 386px;
  text-shadow: 0px 0px 54px #082140, 0px 0px 44px #ff61bd, 0px 3px 2px #111111;
}
.home__google-button_image {
  width: 286px;
  height: 78px;
}
.home__google-button_link:hover .home__google-button_image {
  content: url("/img/home/11.png");
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

@media screen and (min-width: 1200px) {
  .home {
    width: 1440px;
    height: 900px;
    padding: 333px 0px 0px;
    background-image: url("/img/home/1_home.png");
  }

  .home-title {
    width: 333px;
    height: 207px;
  }

  .home-text {
    font-family: Overlock;
    font-weight: 700;
    font-size: 48px;
    letter-spacing: -4%;

    padding: 21px 0 51px;
  }
}

.about {
  padding: 40px 16px 0px;
  margin: auto;
  width: 375px;
  height: 1178px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/2_about_mob.png");
}

.about-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  width: 375px;
  background: #111111;
  margin-left: -16px;
  font-family: Overlock;
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: -1px;
  color: #e5b553;
}
.about-title img {
  width: 72px;
  height: 72px;
}
.about-text {
  font-family: Overlock;
  font-weight: 700;
  font-size: 20px;

  text-align: center;
  width: 193px;
  padding: 8px 0;
}
.about-text-bold {
  font-family: Overlock;
  font-weight: 900;
  font-size: 24px;

  letter-spacing: -1px;
  text-align: center;
  color: #564a6b;
  padding: 24px 0 8px;
}
.why-list {
  padding: 28px 16px 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.why-text-bold {
  font-family: Overlock;
  font-weight: 900;
  font-size: 24px;

  letter-spacing: -2%;
  color: #564a6b;
}
.why-text {
  padding-top: 8px;
  font-family: Overlock;
  font-weight: 400;
  font-size: 20px;

  letter-spacing: 0%;
}
@media screen and (min-width: 1200px) {
  .about {
    padding: 60px 0px 0;
    width: 1440px;
    height: 873px;
    background-image: url("/img/2_about.png");
  }
  .about-title {
    padding: 0 408px;
    width: 1440px;
    margin-left: 0px;
    font-family: Overlock;
    font-weight: 700;
    font-size: 48px;

    letter-spacing: -1px;
  }
  .about-title img {
    width: 100px;
    height: 100px;
  }
  .about-text {
    font-family: Overlock;
    font-weight: 900;
    font-size: 24px;
    letter-spacing: -1px;
    text-align: center;
    width: 1096px;
    padding: 0;
    color: #564a6b;
    margin: auto;
  }
  .about-text-bold {
    font-family: Overlock;
    font-weight: 900;
    font-size: 24px;
    letter-spacing: -1px;
    text-align: center;
    width: 1196px;
    padding: 40px 0 0;
    margin: auto;
  }
  .why-list {
    padding: 52px 612px 0 256px;
  }
}
.how {
  width: 375px;
  height: 1254px;
  margin: auto;
  padding: 40px 16px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/3_howToPlay_mob.png");
}

.how-list {
  padding: 326px 12px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.how-item {
  display: flex;
}

.how-item-two {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.how-number {
  font-family: Overlock;
  font-weight: 700;
  font-size: 32px;
  color: #e5b553;
  width: 66px;
  height: 66px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #111111;
  text-shadow: 0px 4px 4px #4f3b0a40;
  padding: 16px 24px;
}
.how-text-bold {
  font-family: Overlock;
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: -1px;
  color: #e5b553;
  height: 70px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  width: 245px;
}
.how-text {
  font-family: Overlock;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: -2%;
  text-align: center;
  color: #ededed;
  width: 319px;
  margin-left: -66px;
  padding-top: 10px;
}

@media screen and (min-width: 1200px) {
  .how {
    width: 1440px;
    height: 800px;
    padding: 60px 0px;
    background-image: url("/img/3_howToPlay.png");
  }
  .how-list {
    padding: 88px 0px 0 564px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .how-item {
    display: flex;
    gap: 24px;
  }

  .how-item-two {
    display: block;
  }
  .how-number {
    font-family: Overlock;
    font-weight: 700;
    font-size: 32px;
    color: #e5b553;
    width: 66px;
    height: 66px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #111111;
    text-shadow: 0px 4px 4px #4f3b0a40;
    padding: 16px 24px;
  }
  .how-text-bold {
    font-family: Overlock;
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: -4%;

    height: auto;
    display: block;
    padding: 0;
    width: auto;
  }
  .how-text {
    font-family: Overlock;
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: -2%;

    text-align: left;
    width: auto;
    margin-left: 0px;
    padding-top: 16px;
  }
}

.reviews {
  width: 375px;

  margin: auto;
  padding: 80px 16px 40px;
}

.reviews-list {
  display: flex;
  flex-direction: column;
  padding-top: 24px;
  gap: 24px;
}
.reviews-item {
  background-image: url("/img/rev3.png");
  width: 343px;
  height: 225px;
  padding: 100px 0 0;
  background-size: cover;
  background-position: center;
}

.reviews-text-bold {
  font-family: Overlock;
  font-weight: 900;
  font-size: 24px;

  letter-spacing: -2%;
  text-align: center;
  color: #e5b553;
  text-shadow: 0px 2px 2px #0000008c;
}
.reviews-text {
  font-family: Overlock;
  font-weight: 400;
  font-size: 20px;

  text-align: center;
  padding-top: 8px;
  color: #ededed;
}

.gallery-button-container {
  display: none;
}

@media screen and (min-width: 1200px) {
  .gallery-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 400px;
    margin-top: -85px;
    position: relative;
    z-index: 2;
  }

  .gallery-button {
    background-color: transparent;
    border: none;
    padding: 0;
    -webkit-transition: scale 0.3s ease;
    transition: scale 0.3s ease;
  }

  .gallery-button:hover {
    scale: 120%;
  }
  .reviews {
    width: 1440px;

    padding: 120px 0px 60px;
  }
  .reviews-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 40px;
    gap: 24px;
  }
  .reviews-item {
    background-image: url("/img/rev1.png");
    width: 219px;
    height: 301px;
    border-radius: 8px;
    border-width: 4px;

    padding: 120px 4px 0 4px;
  }

  .reviews-text-bold {
    font-family: Overlock;
    font-weight: 900;
    font-size: 24px;

    letter-spacing: -2%;
    text-align: center;
  }
  .reviews-text {
    font-family: Overlock;
    font-weight: 400;
    font-size: 20px;

    letter-spacing: 0%;
    text-align: center;
    padding-top: 8px;
  }
}

.faq {
  padding: 40px 16px 30px;
  margin: auto;
  width: 375px;
  background: #564a6b;
}
.faq-img {
  width: 271px;
  height: 318px;
  margin: 24px auto 16px;
}
.faq-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.faq-item {
  border-radius: 12px;
  padding-top: 12px;
  padding-right: 24px;
  padding-bottom: 12px;
  padding-left: 24px;
  background: #ededed;
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-family: Overlock;
  font-weight: 900;
  font-size: 24px;

  letter-spacing: -1px;
}

.toggle-button {
  background: none;
  border: none;

  cursor: pointer;
}

.faq-answer {
  display: none;
  padding-top: 12px;
  font-family: Overlock;
  font-weight: 400;
  font-size: 20px;

  letter-spacing: 0%;
}
@media screen and (min-width: 1200px) {
  .faq {
    padding: 60px 0;
    width: 1440px;
  }
  .faq-div {
    display: flex;
    align-items: center;
    padding: 40px 172px 0;
    gap: 44px;
  }
  .faq-img {
    width: 362px;
    height: 424px;

    margin: 0;
  }
  .faq-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 690px;
  }

  .faq-item {
    border-radius: 12px;
    padding-top: 12px;
    padding-right: 24px;
    padding-bottom: 12px;
    padding-left: 24px;
  }

  .faq-question {
    font-family: Overlock;
    font-weight: 900;
    font-size: 24px;
  }

  .faq-answer {
    display: none;
    padding-top: 12px;
    font-family: Overlock;
    font-weight: 400;

    letter-spacing: 0%;
  }
}
.gallery {
  width: 375px;
  margin: auto;
  padding: 40px 16px 0px;
}

.gallery__list {
  padding: 40px 0 24px;
}
.gallery__item {
  width: 331px;
  height: 160px;

  overflow: hidden;
  position: relative;
  margin: 0 10px;
}

.gallery__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.slick-dots {
  display: flex;
  justify-content: center;
  background: #111111;
  width: 375px;
  margin-left: -16px;
}

.slick-dots li {
  list-style: none;
  width: 38px;
  height: 24px;
  margin-left: -4px;

  border-radius: 16px;
}

.slick-dots li button {
  width: 100%;
  height: 100%;
  border: none;
  background: url("/img/gallery/Rectangle\ 37\ \(1\).png") no-repeat
    center/cover;

  padding: 0;
  font-size: 0;
}

.slick-dots li button:before {
  display: none;
}

.slick-dots li.slick-active button {
  background: url("/img/gallery/Rectangle\ 37.png") no-repeat center/cover;
}

@media screen and (min-width: 1200px) {
  .gallery {
    width: 1440px;
    padding: 60px 0 0;
  }

  .gallery__item {
    width: 580px;
    height: 280px;
  }

  .gallery__list {
    padding: 40px 0 70px;
  }
  .slick-dots {
    display: flex;
    justify-content: center;
    background: #111111;
    width: 1440px;
    margin-left: 0px;
    height: 72px;
  }

  .slick-dots li {
    list-style: none;
    width: 40px;
    height: 24px;
    margin-top: 20px;
    margin-left: -4px;

    border-radius: 16px;
  }
}
.footer {
  background: #111111;

  color: #ededed;
  padding: 40px 0px;
}
.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 41px;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;

  align-items: center;

  gap: 16px;
}
.footer-text {
  font-family: Overlock;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-offset: 0%;
  text-decoration-thickness: 0%;
  text-decoration-skip-ink: auto;

  color: #ededed;
}

.footer-copyright {
  font-family: Overlock;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .footer {
    padding: 60px 0px;
    width: 1440px;
    margin: auto;
  }
  .footer-container {
    gap: 24px;
  }

  .footer-wrapper {
    gap: 48px;
    flex-direction: row;
  }
  .footer-text {
    font-family: Overlock;
    font-weight: 900;
    font-size: 24px;

    letter-spacing: -2%;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-offset: 0%;
    text-decoration-thickness: 0%;
    text-decoration-skip-ink: auto;
  }

  .footer-copyright {
    font-family: Overlock;
    font-weight: 400;
    font-size: 20px;

    letter-spacing: 0%;
  }
}
.policy-terms-container {
  padding: 80px 16px 40px;
  width: 375px;
  margin: auto;
}
.policy-terms-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: Overlock;
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: -1px;
  color: #e5b553;
  width: 375px;

  top: 64px;
  background: #111111;
  margin-left: -16px;
}
.policy-terms-title img {
  width: 72px;
  height: 72p;
}
.policy-terms-text {
  padding-top: 20px;
  font-family: Overlock;
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: -1px;
  color: #564a6b;
}
.policy-terms-texts {
  padding-top: 8px;
  font-family: Overlock;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
}
.policy-terms-text-one {
  padding-top: 20px;
  font-family: Overlock;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
}

.terms-list {
  list-style-type: disc;
  padding: 20px 0 20px 25px;
  display: flex;
  flex-direction: column;
  font-family: Overlock;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
}

.terms-lists {
  list-style-type: disc;
  padding-left: 25px;
  font-family: Overlock;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
}
.email-link {
  color: inherit;
  text-decoration: none;
}
.email-link-color {
  color: inherit;
  text-decoration: none;
}
@media screen and (min-width: 1200px) {
  .policy-terms-container {
    padding: 100px 172px 40px;
    width: 1440px;
  }
  .policy-terms-title {
    font-family: Overlock;
    font-weight: 700;
    font-size: 48px;

    width: 1440px;
    justify-content: center;
    gap: 60px;
    margin-left: -172px;
  }
  .policy-terms-title img {
    width: 100px;
    height: 100px;
    left: 524px;
  }
}

.cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 375px;

  padding: 40px 16px;
  background: #e5b553;

  z-index: 1000;

  display: none;
}

.cookie-popup-text-two {
  font-family: Overlock;
  font-weight: 900;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: -2%;
  text-align: center;

  color: #111111;
}
.cookie-button-container {
  padding: 20px 0 0;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.cookie-button {
  border: none;
  background-color: transparent;
  background: #e5b553;
  width: 170px;
  border-bottom: 2px solid #564a6b;
  padding: 10px 0;
}
#accept-cookies {
  background: #564a6b;
  box-shadow: 1px 2px 2px 0px #0000003d;

  color: #ededed;
  border-radius: 12px;
}
.close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}
@media screen and (min-width: 1200px) {
  .cookie-popup-text-two {
    font-family: Overlock;
    font-weight: 900;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: -2%;
    text-align: center;
  }
  .cookie-button-container {
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 40px;
  }
  .cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 1440px;

    padding: 40px;
    display: none;
  }
}
